body {
  background: url("https://wallpaperaccess.com/full/498776.jpg") fixed;
  background-size: cover;
}

.container {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

*[role="form"] {
  max-width: 530px;
  min-width: 400px;
  border-radius: 10px;
  overflow: hidden;
  padding: 25px 40px 25px 40px;

  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.8);
  -o-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.8);
  -ms-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.8);
}

*[role="form"] h2 {
  font-family: Poppins-Bold;
  font-size: 40px;
  font-weight: 600;
  color: #ffcb05;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: auto;
  padding-bottom: 20px;
}
.txt3 {
  position: absolute;
  font-family: Poppins-Regular;
  font-size: 15px;
  color: #ffcb05;
  line-height: 1.5;
  padding: 10px;
}
